name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Compile Linux
        run: deno compile --allow-net=api.mullvad.net,deno.land --allow-run=ping --target x86_64-unknown-linux-gnu -o mullvad-ping-linux script.ts
      - name: Compile Windows
        run: deno compile --allow-net=api.mullvad.net,deno.land --allow-run=ping --target x86_64-pc-windows-msvc -o mullvad-ping-windows.exe script.ts
      - name: Compile Apple Intel
        run: deno compile --allow-net=api.mullvad.net,deno.land --allow-run=ping --target x86_64-apple-darwin -o mullvad-ping-macos-intel script.ts
      - name: Compile Apple Arm
        run: deno compile --allow-net=api.mullvad.net,deno.land --allow-run=ping --target aarch64-apple-darwin -o mullvad-ping-macos-arm script.ts
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            mullvad-ping-linux
            mullvad-ping-windows.exe
            mullvad-ping-macos-intel
            mullvad-ping-macos-arm
